.bg-light1{
    background-color: 	#F5F5F5;
}

.lbt{
    height: 180px;
    width: auto;
}
.lbt img{
    width: 100%;
    height: 100%;
}
.text-10{
    font-size: 18px;
}
.page{
    overflow: hidden;
    text-overflow: ellipsis;
}
.page img{
    height: 150px;
}